main {
  display: flex;
  max-width: 30%;
}

ul {
  list-style-type: none;
  text-align: center;
}

header, footer {
  background-color: peru;
}

.character{
  display: flex;
  flex-direction: column;
}

.character.dead {
  color: dimgray;
  text-decoration: line-through;
}

.character.alive {
  color: darkgreen;
}